.image-header{
  padding: 40px;
  text-align: center;
  font-size: 50pt;
  color: aliceblue;
  font-family: "times new roman";
  color: #5D0C0C;
}


/* If you want the content centered horizontally and vertically */
.centered:hover  {
  filter: brightness(50%);
}

.centered{
  padding-top: 30px;
  filter: brightness(100%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 10%;
}