.photo-changer{
    padding:15px 50px;
    position:relative;
    color:#5D0C0C;
    text-align:center;
    border-radius: 20px;
    font-weight: bold;
    background-color:#FCEAD7;
    border:1px solid #5D0C0C;
    
    cursor:pointer
  }
  .card{
    border-radius: 15px;
  }
  
  .progBtn{
    padding:15px 50px;
    position:relative;
    color:#5D0C0C;
    text-align:center;
    border-radius: 20px;
    font-weight: bold;
    background-color:#FCEAD7;
    border:1px solid #5D0C0C;
  }
  .hide_file {
      position: absolute;
      z-index: 1000;
      opacity: 0;
      cursor: pointer;
      right: 0;
      top: 0;
      height: 100%;
      font-size: 24px;
      width: 100%;
      
  }