<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" routerLink="**">
      <img
        src="assets/img/logo.png"
        height="40"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="**">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/problem">Faire une demande</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lawyerSpace">Espace avocat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lawyerCases">Affaires</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button mdbBtn type="button" class="btn btn-link px-3 me-2"  routerLink="login" *ngIf="!isAuth()" mdbWavesEffect>
          Se connecter
        </button>

        <button mdbBtn type="button" class="btn  me-3" color="deep-orange" *ngIf="!isAuth()" routerLink="/signupClient" mdbWavesEffect>
          S'inscrire
        </button>
        <button type="button" class="btn me-2" routerLink="profileClient" *ngIf="isAuth()">
          <i class="fas fa-user"></i>
        </button>
        <button mdbBtn type="button" class="btn btn-primary me-3" color="deep-orange" (click)="signout()" *ngIf="isAuth()" routerLink="/" mdbWavesEffect>
          Se déconnecter
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->