<div class="container">
    <h3> Posez votre problème : </h3>
    <br />
    <div style="width:40%">
        <form>
            <div class="form-group">
                <label for="age">Type de problème :</label>
                <select class="form-control">
                    <option>Droit public</option>
                    <option>Droit pénal</option>
                    <option>Droit immobilier</option>
                    <option>Droit commercial</option>
                </select>
            </div>
            <br/>
            <div class="form-group">
                <label for="comment">description</label>
                <textarea class="form-control" id="comment" rows="3" placeholder="Commentaire"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Résoudre</button>
        </form>
    </div>
    
</div>
