<div style='background-image:url("../../assets/img/signup.png");height:700px;width:100%;background-repeat: no-repeat;background-size: cover;'>
    <div class="div container b">
        <div class="card">
          <div class="text-center">
              <h1>Se connecter</h1>
              <h6>Connectez-vous en tant que client </h6>
          </div>
          <br>
          <form [formGroup]="loginForm">
            <div class="form-group">
              <input 
                type="email" 
                formControlName="email"
                class="form-control" 
                name="email" 
                aria-describedby="emailHelp" 
                placeholder="Adresse mail"
              >
              <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">entrez votre e-mail</span>
            </div>
            <br/>
            <div class="form-group">
              <input 
                type="password" 
                formControlName="password"
                class="form-control" 
                name="password" 
                placeholder="Mot de passe"
              >
              <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">entrez votre mot de passe</span>
            </div>
            <br/>
            <button mdbBtn type="submit" [disabled]="!loginForm.valid" class="btn"  (click)="submitForm(loginForm)" mdbWavesEffect>Se connecter</button>
          </form>
          <a style="color:  black; margin-top: 10px;" routerLink="/signupClient">Inscrivez-vous si vous n'avez pas de compte</a>
        </div>
      </div>
 
</div>