
<div class="container">
    <div *ngIf="etat === 'demande'">
        <div *ngFor="let case of casesDemand" >
            <app-lawyer-case-demand
            *ngIf="searchText === '' || case.clientName.toLowerCase().includes(searchText.toLowerCase())" 
            [case]="case"
            [isLawyer]="true"
            >
            </app-lawyer-case-demand>
            <br>
        </div>
    </div>

    <div *ngIf="etat === 'en cours'">
        <div *ngFor="let case of casesProgress ">
            <app-lawyer-case-progress
            *ngIf="searchText === '' || case.clientName.toLowerCase().includes(searchText.toLowerCase())"
            [case]="case"
            [isLawyer]="true"
            >
            </app-lawyer-case-progress>
            <br>
        </div> 
    </div>
    
    <div *ngIf="etat === 'terminée'">
        <div *ngFor="let case of casesFinish ">
            <app-lawyer-case-finish
            *ngIf="searchText === '' || case.clientName.toLowerCase().includes(searchText.toLowerCase())"
                [case]="case"
                [isLawyer]="true"
                >
            </app-lawyer-case-finish>
            <br>
        </div>
    </div>
</div>