<div style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbcVKlL92BxzWSHXwjva_q7XBlN2NADKSoRa30_hsmqvp3BrmYHjHA_sEmyCri4D_KXvA&usqp=CAU');" class="div container" >
    <div class="row" >
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>S'inscrire</h1>
                    <h6>Inscrivez-vous en tant que client</h6>
                </div>
                <br>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Prénom">
                      </div>
                      <br/>
                    <div class="form-group">
                      <input type="text" class="form-control" id="lastNAme" aria-describedby="lastName" placeholder="Nom">
                    </div>
                    <br/>
                    <div class="form-group">
                      <input type="number" class="form-control" id="age" placeholder="Âge">
                    </div>
                    <br/>
                    <div class="form-group">
                        <select class="form-control" placeholder="Ville">
                            <option>Tunis</option>
                            <option>Sousse</option>
                            <option>Sfax</option>
                            <option>Kairouan</option>
                            <option>Monastir</option>
                          </select>
                      </div>
                      <br/>
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Adresse mail">
                      </div>
                      <br/>
                      <div class="form-group">
                          <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="numéro de télèphone">
                      </div>
                      <br/>
                      
                      
                      <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                      </div>
                      <br/>  
                      <div class="form-group">
                        <input type="password" class="form-control" id="cpassword" placeholder="Confirmation du mot de passe">
                      </div>
                      <br/>
                      
                    <br>
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                  </form>
                  <a style="color: black; margin-top: 10px;" routerLink="/login">Avez-vous déja un compte? Connectez-vous.</a>
            </div>
        </div>
    </div>
</div>
