<div style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbcVKlL92BxzWSHXwjva_q7XBlN2NADKSoRa30_hsmqvp3BrmYHjHA_sEmyCri4D_KXvA&usqp=CAU');" class="div container" >
    <div class="row" >
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>S'inscrire</h1>
                    <h6>Inscrivez-vous en tant que client</h6>
                </div>
                <br>
                <form #form="ngForm" (submit)="submitForm(user)">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" aria-describedby="name" placeholder="Prénom"  [(ngModel)]="user.name">
                      </div>
                      <br/>
                    <div class="form-group">
                      <input type="text" class="form-control" name="lastNAme" aria-describedby="lastName" placeholder="Nom" [(ngModel)]="user.FamilyName">
                    </div>
                    <br/>
                    <div class="form-group">
                      <input type="number" class="form-control" name="age" placeholder="Âge"  [(ngModel)]="user.age">
                    </div>
                    <br/>
                    <div class="form-group">
                        <select class="form-control" placeholder="Ville" name="ville"  [(ngModel)]="user.city">
                            <option>Tunis</option>
                            <option>Sousse</option>
                            <option>Sfax</option>
                            <option>Kairouan</option>
                            <option>Monastir</option>
                          </select>
                      </div>
                      <br/>
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Adresse mail"  [(ngModel)]="user.email">
                      </div>
                      <br/>
                      
                      
                      <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Mot de passe"  [(ngModel)]="user.password">
                      </div>
                      <br/>  
                      <div class="form-group">
                        <input type="password" class="form-control" name="cpassword" placeholder="Confirmation du mot de passe"  [(ngModel)]="user.confirmPassword">
                      </div>
                      <br/>
                      
                    <br>
                    <button type="submit" class="btn btn-primary" routerLink="/">S'inscrire</button>
                  </form>
                  <a style="color: black; margin-top: 10px;" routerLink="/login">Avez-vous déja un compte? Connectez-vous.</a>
            </div>
        </div>
    </div>
</div>
