.card{
    box-shadow: 0 3px 5px #0000006f ;
    width: 500px;
    padding: 30px;
    margin-top: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 5%);
    }

.row {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.card h1,
h6{
    color: rgb(66, 60, 60);
}
label{
    color: rgb(92, 86, 86);
}