
<div class="btn-group" >
    <button mdbBtn
        type="button" 
        color={{colordemand}}
        (click)="onShowDemand()"
        mdbWavesEffect>Demande
    </button>
    <button mdbBtn
        type="button" 
        color={{colorencours}}
        (click)="onShowEncours()"
        mdbWavesEffect>En cours
    </button>
    <button mdbBtn
        type="button" 
        color={{colorterm}}
        (click)="onShowTermine()"
        mdbWavesEffect>Terminée
    </button>
</div>
<app-lawyer-cases-list  [etat]="etat" ></app-lawyer-cases-list>

