.btn-group{
    margin-top: 40px;
    margin-bottom: 40px;
    left: 40%;
    

}

.image-header{
    padding: 40px;
    text-align: center;
    font-size: 72pt;
    color: aliceblue;
    font-family: "Monotype corsiva";
    background-image: url("../../assets/img/aaa.jpg");
    background-repeat: no-repeat;background-size: cover;
}