<div class="row" style="background-color:rgb(241, 221, 188);">
    <div class="col-md" style="border-right:5px solid #5D0C0C" routerLink="/signupClient">
        <br/><br/><br/><br/>
        <div class="centered">
            <img src="../../assets/img/lawyer.jpg" style="width:50%;height:100%;">
            <p class="image-header">S'inscrire en tant que client</p>
        </div>
    </div>
    <div class="col-md" routerLink="/signupClient">
        <br/><br/><br/><br/>
        <div class="centered">
            <img src="../../assets/img/client.jpg" style="margin-top:30px;width:50%;height:150%;">
            <p class="image-header">S'inscrire en tant qu'avocat</p>
        </div>
    </div>
</div>