<div class="parallax2" style="height:100vh">
    <h1 data-aos="zoom-in" data-aos-duration="6000" style="text-justify: center;color: white;text-align: center;font-size:50px;padding-top: 5%;font-weight: 400;">7a9i.tn</h1>
    <h1 data-aos="zoom-in" data-aos-duration="6000" style="text-justify: center;color: white;text-align: center;font-size:50px;padding-top: 13%;font-weight: 400;">“La Passion de vous Conseiller, <br>l’Honneur de vous Défendre”</h1>
  </div>

  

  <!--Espace who we are-->
<div class="row" style="min-height:400px;background-color:#FCEAD7;width: 93em;box-shadow: 5px 5px rgb(0, 0, 0), -1em 0 .4em rgb(0, 0, 0);">
    <div class="col-sm-6">
      <div class="" style="border: none;">
        <div class="card-body">
          <div class="grid grid-rows-2  flex justify-center" style="padding:2rem;margin-left:2rem;">
            <h1 class="flex justify-center avocat-text" style="font-family:Abril Fatface;font-weight:bold;font-size:2rem;">Qui sommes-nous ?</h1>
            <br><br>
            <p data-aos="fade-up" class="flex-col justify-center avocat-text text-center mt-2" style="font-family:Andika;font-size:1.5rem;">
                7a9i.tn est un site web qui met a la disposition du citoyen un espace qui l'accompagnera juridiquement jusqu'à la résolution de ses problèmes.
                Le demandeur, selon son problème, sera soit, dirigé vers un spécialiste de droit en cas de besoin, soit informé par les procédures à suivre.
                Le défendeur, quant à lui, aura l'opportunité de présenter ses services.
            </p> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="" style="border: none;">
          <div class="card-body">
            <div class="flex justify-center" style="border-radius:50px;"><img  data-aos="fade-left" class="h-72 w-auto rounded-md avocat-image" style="margin-top:12px;"src="assets/img/logo.png"></div>
          </div>
        </div>
    </div>
  </div>
    
  <div class="parallax2">
    <!--Features-->
    <br><br><br><br>
    <div class="container mt-2" style="padding-bottom:50px;">
        <div class="row"data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
          <div class="col-md-3 col-sm-6 mycards">
           <div class="card border-0 transparent" style="border-radius:15px;padding-top:20px;">
              <img class="mx-auto" src="assets/img/confidentiel.png" >
              <h2 class="card-title mt-3 mb-3 features mx-auto features-text">Confidentiel</h2>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mycards">
            <div class="card border-0 transparent" style="border-radius:15px;padding-top:20px;">
              <img class="mx-auto" src="assets/img/justice.png" >
              <h2 class="card-title  mt-3 mb-3 features mx-auto features-text" >Juste</h2>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mycards">
            <div class="card border-0 transparent" style="border-radius:15px;padding-top:20px;">
              <img  class="mx-auto" src="assets/img/pratique.png">
              <h2 class="card-title px-14 mt-3 mb-3 features mx-auto features-text">Pratique</h2>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mycards">
            <div class="card border-0 transparent" style="border-radius:15px;padding-top:20px;">
              <img class="mx-auto"  src="assets/img/fiable.png" >
              <h2 class="card-title  mt-3 mb-3 features mx-auto features-text">Fiable</h2>
            </div>
          </div>    
        </div>
        <br>
      </div>
   </div>
  
    


<!--Espace avocat-->

<div class="row" style="min-height:400px;background-color:#FCEAD7;background-size: cover;width: 93em;box-shadow: 5px 5px rgb(0, 0, 0), -1em 0 .4em rgb(0, 0, 0);">
    <div class="col-sm-6 flex">
    
        <div class="card-body flex justify-center"> 
          <div class="flex justify-center"><img data-aos="fade-right"  class="w-auto rounded-md avocat-image" style="height:400px ;border-radius: 50px;"src="assets/img/avocat.png"></div>
        </div>  
    
  </div>
  <div class="col-sm-6">
    <div class="" style="border: none;">
      <div class="card-body">
        <div class="grid grid-rows-2  flex justify-center" style="padding:2rem;margin-left:2rem;">
          <h1 class="flex justify-center avocat-text" style="font-family:Abril Fatface;font-weight:bold;font-size:2rem;">Vous êtes un avocat</h1>
          <br><br>
          <p class="flex-col justify-center avocat-text text-center mt-2" data-aos="fade-left" style="font-family:Andika;font-size:1.5rem;">vous cherchez à avoir plus de clients ?
            7a9i.tn est le meilleur espace pour offrir vos services et augmenter votre reconnaissance. C'est simple et fiable.
          </p>
          <br><br>
          <div class="text-center">
            <button  type="button" class="button button1" >Espace Avocat</button>
          
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!--SVG Orange-->
<div class="grid parallax2" style="display: flex; flex-direction: row-reverse;height:40vh;box-shadow: 5px 5px rgb(0, 0, 0), -1em 0 .4em rgb(0, 0, 0);">
</div>

<!--espace victime-->


<div class="row" style="min-height:400px;background-size: cover;background-color:#FCEAD7;width: 93em;box-shadow: 5px 5px rgb(0, 0, 0), -1em 0 .4em rgb(0, 0, 0);">
    <div class="col-sm-6">
      <div class="" style="border: none;">
        <div class="card-body">
          <div class="grid grid-rows-2  flex justify-center" style="padding:2rem;margin-left:2rem;">
            <h1 class="flex justify-center avocat-text" style="font-family:Abril Fatface;font-weight:bold;font-size:2rem;">Vous avez un problème</h1>
            <br><br>
            <p data-aos="fade-right" class="flex-col justify-center avocat-text text-center mt-2" style="font-family:Andika;font-size:1.5rem;">vous avez fait un conflit avec ton patron, tes voisins ou bien vous voulez divorcer, distribuer une hérité etc . 
              7a9i.tn est la solution la plus facile et efficace pour vous.
            </p>
            <br><br>
            <div class="text-center">
              <button  type="button" class="button button2" >Espace Victime</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 flex">
        <div class="card-body flex justify-center"> 
          <div class="flex justify-center avocat-image" ><img data-aos="fade-left" class="w-auto rounded-md" style="height:400px;border-radius: 50px;"src="assets/img/victime.jpeg"></div>
        </div>  
  </div>
  </div>
  
<div class="grid parallax2" style="display: flex; flex-direction: row-reverse;height:10vh;box-shadow: 5px 5px rgb(0, 0, 0), -1em 0 .4em rgb(0, 0, 0);">
</div>

