.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 5%);
    box-shadow: 0 3px 5px #0000006f ;
    }

.card h1,
h6{
    color: rgb(66, 60, 60);
}
label{
    color: rgb(92, 86, 86);
}