<div style='background-image:url("../../assets/img/signuplawyer.jpg");height:1100px;width:100%;background-repeat: no-repeat;background-size: cover;'>
<div class="div container">
  <div class="card">
    <div class="text-center">
        <h1>S'inscrire</h1>
        <h6> Inscrivez-vous en tant qu'avocat</h6>
    </div>
    <form [formGroup]="signupLawyerForm" (ngsubmit)="submitForm(lawyer)">
      <div class="form-group">
        <input 
          type="text"
          formControlName="name"
          class="form-control" 
          name="name" 
          aria-describedby="name" 
          placeholder="Prénom"
          [(ngModel)]="lawyer.name"
        >
        <span class="text-danger" *ngIf="signupLawyerForm.controls['name'].dirty && signupLawyerForm.hasError('required','name')">Entrez votre prénom</span>
      </div>
      <br/>
      <div class="form-group">
        <input 
          type="text" 
          formControlName="FamilyName"
          class="form-control" 
          name="FamilyName" 
          aria-describedby="lastName" 
          placeholder="Nom"
          [(ngModel)]="lawyer.FamilyName">
          <span class="text-danger" *ngIf="signupLawyerForm.controls['FamilyName'].dirty && signupLawyerForm.hasError('required','FamilyName')">Entrez votre nom</span>
      </div>
      <br/>
      <div class="form-group">
        <input 
          type="number"
          formControlName="age" 
          class="form-control"
          name="age" 
          placeholder="Âge"
          [(ngModel)]="lawyer.age"
        >
        <span class="text-danger" *ngIf="signupLawyerForm.controls['age'].dirty && signupLawyerForm.hasError('required','age')">Entrez votre âge</span>
      </div>
      <br/>
      <div class="form-group">
        <select 
          class="form-control" 
          formControlName="city"
          name="city"  
          [(ngModel)]="lawyer.city">
          <option value="" disabled selected>Ville</option>
          <option>Tunis</option>
          <option>Sousse</option>
          <option>Sfax</option>
          <option>Kairouan</option>
          <option>Monastir</option>
        </select>
        <span class="text-danger" *ngIf="signupLawyerForm.controls['city'].dirty && signupLawyerForm.hasError('required','city')">Entrez votre ville</span>
      </div>
      <br/>
      <div class="form-group">
        <input 
          type="email"
          formControlName="email" 
          class="form-control" 
          name="email" 
          aria-describedby="emailHelp" 
          placeholder="Adresse mail"  
          [(ngModel)]="lawyer.email"
        >
        <span class="text-danger" *ngIf="signupLawyerForm.controls['email'].dirty && signupLawyerForm.hasError('required','email')">Entrez votre adresse mail</span>
        <span class="text-danger" *ngIf="signupLawyerForm.controls['email'].dirty && signupLawyerForm.hasError('email','email')">Adresse mail invalide</span>
      </div>
      <br/>
      <br/>
       <div class="form-group">
         <input 
         type="text" 
         formControlName="phoneNumber"
         class="form-control" 
         name="phoneNumber" 
         placeholder="Numero du téléphone"  
         [(ngModel)]="lawyer.phoneNumber">
         <span class="text-danger" *ngIf="signupLawyerForm.controls['phoneNumber'].dirty && signupLawyerForm.hasError('required','phoneNumber')">Entrez votre mot de passe</span>
       </div>

       <br/>
      <div class="form-group">
        <input 
          type="text" 
          formControlName="speciality"
          class="form-control" 
          name="speciality" 
          aria-describedby="speciality" 
          placeholder="Specialité"
          [(ngModel)]="lawyer.speciality"
        >
        <span class="text-danger" *ngIf="signupLawyerForm.controls['speciality'].dirty && signupLawyerForm.hasError('required','speciality')">Entrez votre specialité</span>
      </div>
      <br/>
      <div class="form-group">
        <textarea 
          type="text" 
          formControlName="description"
          class="form-control" 
          name="description" 
          aria-describedby="description" 
          placeholder="Description"
          [(ngModel)]="lawyer.description"
        ></textarea>
        <span class="text-danger" *ngIf="signupLawyerForm.controls['description'].dirty && signupLawyerForm.hasError('required','description')">Entrez votre déscription</span>
      </div>
      <br/>
      <div>
        <input 
          type="password" 
          formControlName="password"
          class="form-control" 
          name="password" 
          placeholder="Mot de passe"  
          [(ngModel)]="lawyer.password"
        >
        <span class="text-danger" *ngIf="signupLawyerForm.controls['password'].dirty && signupLawyerForm.hasError('required','password')">Entrez votre mot de passe</span>
      </div>
      <br/> 
      <div class="form-group">
        <input 
          type="password" 
          formControlName="confirmPassword"
          class="form-control" 
          name="confirmPassword" 
          placeholder="Confirmation du mot de passe"  
          [(ngModel)]="lawyer.confirmPassword"
        >
        <span class="text-danger" *ngIf="signupLawyerForm.controls['confirmPassword'].dirty && signupLawyerForm.hasError('required','confirmPassword')">Confirmez votre mot de passe</span>
      </div>
      <br/>
        <button mdbBtn type="submit" [disabled]="!signupLawyerForm.valid" class="btn" color="deep-orange" (click)="submitForm(lawyer)" mdbWavesEffect>S'inscrire</button>
    </form>
    <a style="color: black; margin-top: 10px;" routerLink="/loginLawyer">Avez-vous déja un compte? Connectez-vous.</a>
  </div>
</div>
</div>