<div class="container">
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
      <mdb-carousel-item>
        <img
          src="assets/img/aa.jpg"
          class="d-block w-100"
          alt="..."
          height="650"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>7a9i.tn</h5>
          <p style="font-weight: 500; font-size: large;">La Passion de vous Conseiller,
            l’Honneur de vous Défendre</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/zz.jpg"
          class="d-block w-100"
          alt="..."
          height="650"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>7a9i.tn</h5>
          <p style="font-weight: 500; font-size: large;">Le site qui garantit vos droits</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/r.jpg"
          class="d-block w-100"
          alt="..."
          height="650"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>7a9i.tn</h5>
          <p style="font-weight: 500; font-size: large;">Toujours pret pour vous défendre</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>


<div class="spacer"></div>

<div style="text-align: center; margin-top: 40px;">
    <h1> Qui sommes-nous </h1> 
</div>
<div style="margin: auto; text-align: center; width: 80%;">
    <h5> 7a9i.tn est un site web qui met a la disposition du citoyen
        un espace qui l'accompagnera juridiquement jusqu'à la résolution de ses problèmes.   
        <div class="spacer"></div>
        Le demandeur, selon son problème, sera soit, dirigé vers un
        spécialiste de droit en cas de besoin, soit informé par les
        procédures à suivre. 
        <div class="spacer"></div>
        Le défendeur, quant à lui, aura l'opportunité de présenter ses services.
    </h5> 
    <div class="spacer"></div>
    <img src="assets/img/159.png" height="200"/>
</div>

<div class="spacer"></div>
<hr>
<div class="spacer"></div>



<div class="spacer"></div>
<hr>
<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-5" style="text-align: center;">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="assets/img/man.png"
            height="100"
            width="100"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Avez vous un problème</h5>
          <p class="card-text">
            vous avez fait un conflit avec ton patron, 
            tes voisins ou bien vous voulez divorcer, distribuer une hérité etc ... <br>
            7a9i.tn est la solution la plus facile et efficace pour vous.
          </p>
          <a href="#!" class="btn btn-primary">Faire une demande</a>
        </div>
      </div>
    </div>
    <div class="col-md-2" style="text-align: center;"></div>
    <div class="col-md-5" style="text-align: center;">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="assets/img/law.png"
            height="100"
            width="100"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Vous êtes un avocat ?</h5>
          <p class="card-text">
            vous cherchez à avoir plus de clients ? <br>
            7a9i.tn est le meilleur espace pour offrir vos services et augmenter votre reconnaissance.
            C'est simple et fiable
          </p>
          <a href="#!" class="btn btn-primary">Rejoinez-nous</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
